<app-header></app-header>

<main class="profile">
    <h1>Profile for {{user?.name}}</h1>
    <h3>Correo: {{user?.email}}</h3>

    <hr>
    
    <div class="d-flex">
        <form (ngSubmit)="createProduct()" ngNativeValidate>
            <input type="text" name="name" [(ngModel)]="product.name" placeholder="Nombre" required>
            <input type="text" name="name" [(ngModel)]="product.description" placeholder="Descripción" required>
            <button type="submit" class="main__button">Agregar producto</button>  
        </form>
    </div>

    <br><br>
    <div *ngIf="products.length > 0">
        <h4>Productos</h4>
        <div class="d-flex" *ngFor="let item of products">
            <input type="text" name="name" [(ngModel)]="item.name">
            <input type="text" name="description" [(ngModel)]="item.description">
            <button (click)="updateProduct(item)" class="main__button">Editar</button>
            <button (click)="deleteProduct(item)" class="main__button">Eliminar</button>
        </div>
    </div>
    <div *ngIf="!products.length">
        <h2>No hay productos</h2>
    </div>
    <br><br>
</main>

<app-footer></app-footer>
