<main class="home">
    <form class="home__form" (ngSubmit)="login()" ngNativeValidate>
        <h3>Iniciar sesión</h3>
        <input type="email" [(ngModel)]="login_info.user.email" name="email" placeholder="Correo" required>
        <input type="password" [(ngModel)]="login_info.user.password" name="password" placeholder="Contraseña" required>
        <button type="submit" class="main__button">Iniciar sesión</button>
        <a [routerLink]="['/register']" routerLinkActive="active" ><small>Registrar</small></a>
    </form>
</main>