<footer class="footer">

    <div class="footer__logo">
      <a href="" title="logo">
        <img src="assets/icons/logo.svg" alt="logo">
      </a>
    </div>

    <div class="footer__address">
      <p>Address</p>
    </div>

    <div class="footer__social">

      <a href="" title="Facebook" target="_blank">
        <img src="assets/icons/facebook.svg" alt="facebook">
      </a>

      <a href="" title="Instagram" target="_blank">
        <img src="assets/icons/instagram.svg" alt="instagram">
      </a>
      
    </div>

</footer>
