<header class="header">

    <div class="header__logo">
      <a [routerLink]="['/home']" routerLinkActive="active"  title="logo">
        <img src="assets/icons/logo.svg" alt="logo">
      </a>
    </div>
	
    <nav class="d-flex justify-content-around header__container">
        <a style="cursor: pointer" (click)="logout()">Cerrar sesión</a>
    </nav>

    <div class="header__menu">
      <a (click)="open()" class="js-open-menu">
        <img src='assets/icons/open.svg'>
      </a>
    </div>

</header>

<app-menu></app-menu>
